body{
  background-image: url("assets/curtains.jpg");
  background-size: cover;
  margin:0;
  font-family: 'Merriweather', serif;
  overflow-y: hidden;
  overflow-x: hidden;
}

#flexContainer{
  display:flex;
  flex-direction: row;
}

#right{
  width: 20vw;
  position:relative;
}

#left{
  width: 20vw;
  height:100vh;
}

#center{
  width: 60vw;
  background-color: #161616;
  padding-left: 5vw;
  padding-right: 5vw;
  font-size:120%;
  color: #FFD700;
  text-align: center;
}

.logo{
  margin:auto;
  width: 15vw;
  margin-bottom: 12.5vh;
}

.logoInCall{
  width: 10vw;
  margin-top: 0px;
  margin-left: 5px;
}

#myLogo{
  width: 100%;
}

input{
  margin-top: 5px;
  border: 1.5px solid #FFD700;
  border-radius: 5px;
  background-color: black;
  font-size:90%;
  color: #FFD700;
}

button{
  margin-top: 5px;
  border: 1.5px solid #FFD700;
  border-radius: 5px;
  background-color: black;
  font-size:90%;
  color: #FFD700;
}

.badInput {
  border: 1.5px solid red;
}

#outerflex{
  display:flex;
  flex-direction: column;
}

#topFlexContainer{
  height: 75vh;
  display:flex;
  flex-direction: row;
}

#roomText{
  margin: 0px;
  margin-left: 10px;
  font-size:75%;
  color: #FFD700;
  /* text-align: center; */
}

#streams{
  height: 25vh;
  width: 100vw;
  background-color: black;
  margin: 0px;
  padding: 5px;
  overflow-y:hidden;
  overflow-x: auto;
  white-space: nowrap;
}

.controls{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 40px;
  margin-right:auto;
  margin-left: 0px;
  height: 200px;
  width: 60px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border:1px solid black;
  background-color: rgba(78, 16, 16, 0.5);
  box-shadow: 4px 4px 20px rgb(0, 0, 0);
}

.icon{
  width: 45px;
  cursor: pointer;
}

#leave{
  position: absolute;
  bottom: 0;
  left: 0;
}

#centerScreen{
  width: 60vw;
  background-color: #161616;
  text-align: left;
}

#chat {
  margin-right:0px;
  margin-left: auto;
  margin-top: 15px;
  width: 85%;
  height: 62.5%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border:1px solid black;
  background-color: rgba(114, 32, 32, 0.5);
  box-shadow: 4px 4px 20px rgb(0, 0, 0);
  display: none;
  overflow-x:hidden;
  overflow-y: auto;
}

#messageInput{
  margin-right:0px;
  margin-left:auto;
  text-align:end;
  display: none;
}

#message{
  margin-right: 0px;
  margin-left: auto;
  background-color: rgba(114, 32, 32);
  border: 1.5px solid black;
  color: black;
  width: 85%;
  border-radius: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#send{
  font-size: .9rem;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 3px;
  margin-right: 6vw;
  background-color: rgba(114, 32, 32);
  border: 1.5px solid black;
  color: black;
}
